<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idpa.tasktransmitter2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Task Transmitter"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.idpa.tasktransmitter2.MainActivity"
            android:label="Task Transmitter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.idpa.tasktransmitter2.AddNumber_Activity"
            android:label="Manage your Contacts" >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.idpa.tasktransmitter2.Show_Contacts_Activity"
            android:label="Your Contacts" >
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity
            android:name="com.idpa.tasktransmitter2.AddTaskActivit"
            android:label="Add Task" >
        </activity>
        <activity
            android:name="com.idpa.tasktransmitter2.ShowTasksActivity"
            android:label="Your Tasks" >
        </activity>
    </application>

</manifest>
